[user]
	name = "Marcin Kaciuba"
    email = "aldor007@gmail.com"
[diff]
    tool = vimdiff
[push]
    default = current
[pull]
	default = current
	ff = only
[merge]
    ff = no
    tool = vimdiff

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status
    df = diff
	up = "!git remote update -p; git merge --ff-only @{u}"
[color "status"]
    added = green
    changed = yellow
    untracked = magenta
    deleted = red
[url "https://"]
	insteadOf = git://
