[user]
	name = "Marcin Kaciuba"
    email = "aldor007@gmail.com"
[diff]
    tool = vimdiff
[push]
        default = current
[merge]
    commit = no
    ff = no
    tool = splice

[mergetool "splice"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
