[user]
	name = Aldor007
    eamail = aldor007@gmail.com
[diff]
    tool = vimdiff
[merge]
    tool = threesome

[mergetool "threesome"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true

